/* Basic Style */
.todo-app {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {

.header {
  text-align: center;
}

}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.add-task-form__wrapper {
    display: flex;
}

.task-label {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.tasks-list {
    margin: 0;
    padding: 0px;
}

.task-item {
    list-style: none;
}

.task-input,
.button {
    outline: none;
}

.task-button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.task-button:hover {
    color: #3a3a3a;
}

/* Heading */
.section-title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.type-text-input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.type-text-input:focus {
    color: #333;
}

/* New Task */
.add-task__wrapper {
display: flex;
}

.add-task__title {
  margin: 0 0 20px;
}

.add-task__input {
    width: 318px;
}

/* Task list */
.task-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-input,
.todo-tasks__label,
.todo-tasks__input,
.todo-tasks__button,
.delete-button__img {
  vertical-align: middle;
}

.checkbox-input {
    margin: 0 10px;
}

.type-text-input {
    width: 226px;
    flex-grow: 1;
    outline: none;
}

.delete-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.delete-button__img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete-button__img:hover {
    transform: rotateZ(0);
}

/* Completed */
.task-label_completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-input, 
.task-label_save {
    display: none;
}

.task-label_edit {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
